HARDHAT_RPC_URL=http://127.0.0.1:8545
SKALE_BASE_MAINNET_RPC_URL=https://skale-base.skalenodes.com/v1/base
SKALE_BASE_SEPOLIA_RPC_URL=https://base-sepolia-testnet.skalenodes.com/v1/jubilant-horrible-ancha
DEPLOYER_PRIVATE_KEY=
