# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/ for details

app = "wog-mmorpg"
primary_region = "sjc"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  PORT = "3000"
  API_URL = "https://wog-mmorpg-shard.fly.dev"
